<div class="links">
<h1>Related Projects</h1>

<!-- MK3FilamentGuide --> 
<div class="link">
<a class="active" href="//hotwolf.github.io/MK3FilamentGuide">
<h1>MK3FilamentGuide</h1>
A filament guide for a Prusa MK3(S) printer
</a>
</div><!--<div id="link">-->

<!-- Project Overview -->
<div class="link">
<a class="active" href="//hotwolf.github.io">
<h1>...more</h1>
Overview of all projects on hotwolf.github.io
</a>
</div><!--<div id="link">-->

</div><!--<div id="links">-->
